// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #161616;
  --ion-text-color: #ffffff;
  
  --ion-color-selected: #ff1011;
  --ion-color-selected-contrast: #000000;
}
