ion-item {
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444; 
  color: #ffffff; /* White text */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center the text */
  height: 150px; /* Adjust height as needed */
  font-size: 1.2em; /* Slightly larger font size */
  flex-direction: column; /* Arrange items in a column */
}

ion-title{
  text-align: center;
}

ion-item img {
  margin-top: 10px;
  margin-left: 20px;/* Space between the text and image */
}


.content {
  padding: 10px;
  background-color: #202020; /* Match background with main content */
  border-radius: 8px;
}

.content h2,
.content h3 {
  color: #ffffff; /* White headings */
}

.content p,
.content ul,
.content li {
  color: #cccccc; /* Lighter text for content */
  font-size: 1em; /* Standard font size */
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners for images */
}

ion-list {
  padding: 10px;
}

.subsection-item {
  --background: transparent; /* Sin fondo */
  --border-color: transparent; /* Sin borde */
  --color: #ffffff; /* Color del texto */
  text-align: left;
}

/* Agregar padding entre los párrafos */
.content p {
  padding-bottom: 4px; /* Espacio debajo de cada párrafo */
  text-align: justify;
  margin-right: 15px;
}

/* Agregar padding entre los elementos de la lista */
.content ul, .content li {
  padding-bottom: 4px; /* Espacio debajo de cada elemento de la lista */
}

/* Opcional: Si deseas un margen entre los elementos de lista */
.content ul {
  margin-bottom: 5px; /* Espacio debajo de la lista */
}

.content li {
  margin-bottom: 20px; /* Espacio debajo de cada elemento de la lista */
  text-align: justify;
  margin-right: 15px;
}




