<ion-header [translucent]="true">
  <ion-toolbar class="vertical-center">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let dog of dogs">
        <app-card 
        [name]="dog.DogName" 
        [photoUrl]="dog.Photo"
        (close)="onCloseClick(dog)"
        (paw)="onPawClick(dog)"
        (cardClick)="onCardClick(dog)"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>





