<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Meetings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-slider" style="margin-top: 10px;">
    <div class="button-wrapper">
      <ion-button
        [color]="currentTab === 'unete' ? 'danger' : 'light'"
        (click)="toggleTab('unete')"
        expand="block"
        shape="round"
        >Únete</ion-button
      >
      <ion-button
        [color]="currentTab === 'misQuedadas' ? 'danger' : 'light'"
        (click)="toggleTab('misQuedadas')"
        expand="block"
        shape="round"
        >Mis quedadas</ion-button
      >
      <ion-button
        [color]="currentTab === 'crearQuedada' ? 'danger' : 'light'"
        (click)="toggleTab('crearQuedada')"
        expand="block"
        shape="round"
        >Crear quedada</ion-button
      >
    </div>
  </div>

  <div *ngIf="currentTab === 'unete' || currentTab === ''">
    <h1>¡Apúntate a una quedada!</h1>
    <div *ngFor="let meeting of meetingsWithoutDog" class="tarjetas">
      <ion-card (click)="onMeetingClick(meeting.Id)">
        <ion-card-header>
          <ion-card-title>{{ meeting.MeetingTitle }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Fecha: {{ meeting.Date | date: 'dd/MM/yyyy' }}</p>
          <p>Hora: {{ meeting.Date | date: 'shortTime' }}</p>
          <p>Sitio: {{ meeting.Location }}</p>
          <p>Descripción: {{ meeting.Description }}</p>
          <p>Huecos libres: {{ getHuecosLibres(meeting) }}</p>
          <div class="horizontal-slider">
            <div
              class="slider-item"
              *ngFor="let dog of dogsInMeetings[meeting.Id]"
            >
              <app-slider
                [name]="dog.DogName"
                [photoUrl]="dog.Photo"
                (click)="onDogClick(dog, $event)"
              ></app-slider>
            </div>
          </div>
          <ion-button
            expand="full"
            color="danger"
            shape="round"
            (click)="onAddDogClick(meeting.Id,  $event)"
            >Unirse</ion-button
          >
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="currentTab === 'misQuedadas' || currentTab === ''">
    <h1>Participando en ellas</h1>
    <div *ngFor="let meeting of meetingsWithDog" class="tarjetas">
      <ion-card (click)="onMeetingClick(meeting.Id)">
        <ion-card-header>
          <ion-card-title>{{ meeting.MeetingTitle }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Fecha: {{ meeting.Date | date: 'dd/MM/yyyy' }}</p>
          <p>Hora: {{ meeting.Date | date: 'shortTime' }}</p>
          <p>Sitio: {{ meeting.Location }}</p>
          <p>Descripción: {{ meeting.Description }}</p>
          <p>Huecos libres: {{ getHuecosLibres(meeting) }}</p>
          <div class="horizontal-slider">
            <div
              class="slider-item"
              *ngFor="let dog of dogsInMeetings[meeting.Id]"
            >
              <app-slider
                [name]="dog.DogName"
                [photoUrl]="dog.Photo"
                (click)="onDogClick(dog, $event)"
              ></app-slider>
            </div>
          </div>
          <ion-button
            expand="full"
            color="danger"
            shape="round"
            (click)="onRemoveDogClick(meeting.Id,  $event)"
            >Quitarme</ion-button
          >
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="currentTab === 'misQuedadas' || currentTab === ''">
    <h1>Mi lista de quedadas</h1>
    <div *ngFor="let meeting of meetingsDogOwner" class="tarjetas">
      <ion-card (click)="onMeetingClick(meeting.Id)">
        <ion-card-header>
          <ion-card-title>{{ meeting.MeetingTitle }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Fecha: {{ meeting.Date | date: 'dd/MM/yyyy' }}</p>
          <p>Hora: {{ meeting.Date | date: 'shortTime' }}</p>
          <p>Sitio: {{ meeting.Location }}</p>
          <p>Descripción: {{ meeting.Description }}</p>
          <p>Huecos libres: {{ getHuecosLibres(meeting) }}</p>
          <div class="horizontal-slider">
            <div
              class="slider-item"
              *ngFor="let dog of dogsInMeetings[meeting.Id]"
            >
              <app-slider
                [name]="dog.DogName"
                [photoUrl]="dog.Photo"
                (click)="onDogClick(dog, $event)"
              ></app-slider>
            </div>
          </div>
          <div class="dual-buttons">
            <ion-button
              expand="block"
              color="danger"
              class="dual-button"
              shape="round"
              (click)="onMeetingEditClick(meeting.Id,  $event)"
              >Editar</ion-button
            >
            <ion-button
              expand="block"
              color="danger"
              class="dual-button"
              shape="round"
              (click)="deleteMeetingClick(meeting.Id, $event)"
              >Eliminar</ion-button
            >
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
