.report-container {
  text-align: center;
  padding: 20px;
}

.icon {
  font-size: 4rem;
  color: var(--ion-text-color);
}

.info-text {
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--ion-text-color);
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  --background: #333;
  --color: #fff;
  --border-radius: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
}
