ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-datetime {
  --background: var(--ion-background-color);
  margin: auto;
}


.datetime-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--ion-background-color);
  color: var(--ion-text-color);
}

.modal-header ion-title {
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.modal-footer ion-button {
  --color: var(--ion-text-color);
  flex: 1;
  margin: 0 0.5rem;
}

