:host {
    --ion-background-color: #161616;
    --ion-text-color: #ffffff;
    --ion-color-selected: #ff1011;
    --ion-color-selected-contrast: #000000;
  }
  
  ion-content {
    --background: var(--ion-background-color);
    color: var(--ion-text-color);
  }
  
  ion-datetime {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    --placeholder-color: var(--ion-text-color);
    --highlight-color: var(--ion-color-selected);
    --highlight-background: var(--ion-background-color);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--ion-background-color);
    color: var(--ion-text-color);
  }
  
  .modal-header ion-button {
    --background: transparent;
    --color: var(--ion-text-color);
  }
  