ion-content {
  --background: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-title{
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: var(--ion-text-color);
  margin-bottom: 40px;
}

.input-item {
  --background: #333333;
  --border-radius: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.login-button {
  --background: var(--ion-color-selected);
  --border-radius: 10px;
  margin-top: 20px;
}