<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ dog?.DogName || 'Perfil del Perro' }}</ion-title>
    <ion-buttons slot="end" *ngIf="isUserDog">
      <ion-button (click)="toggleEditable()">
        {{ isEditable ? 'Guardar' : 'Editar' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="dog; else loading">
    <ion-row>
      <ion-col size="12" class="image-container">
        <img [src]="'../../../../assets/dogsImages/' + dog.Photo + '.svg'" class="image" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="section">
        <h3>Características</h3>
        <div class="card">
          <p>
            <strong>- Sexo: </strong>
            <span *ngIf="!isEditable">{{ getSexText(dog.Sex) }}</span>
            <ion-item *ngIf="isEditable">
              <ion-select [(ngModel)]="dog.Sex">
                <ion-select-option [value]="true">Masculino</ion-select-option>
                <ion-select-option [value]="false">Femenino</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
          <p>
            <strong>- Esterilizado: </strong>
            <span *ngIf="!isEditable">{{ getSterilizedText(dog.Sterilized) }}</span>
            <ion-item *ngIf="isEditable">
              <ion-select [(ngModel)]="dog.Sterilized">
                <ion-select-option [value]="true">Sí</ion-select-option>
                <ion-select-option [value]="false">No</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
          <p>
            <strong>- Dominante: </strong>
            <span *ngIf="!isEditable">{{ getDominantText(dog.Dominant) }}</span>
            <ion-item *ngIf="isEditable">
              <ion-select [(ngModel)]="dog.Dominant">
                <ion-select-option [value]="true">Sí</ion-select-option>
                <ion-select-option [value]="false">No</ion-select-option>
              </ion-select>
            </ion-item>
          </p>
          <p>
            <strong>- Raza: </strong>
            <span *ngIf="!isEditable">{{ getBreedText(dog.Breed) }}</span>
            <ion-item *ngIf="isEditable">
              <ion-select [(ngModel)]="dog.Breed">
                <ion-select-option *ngFor="let breed of breedOptions" [value]="breed.value">
                  {{ breed.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </p>
          <p>
            <strong>- Edad: </strong>
            <span *ngIf="!isEditable">{{ getAgeCategoryText(dog.AgeCategory) }}</span>
            <ion-item *ngIf="isEditable">
              <ion-select [(ngModel)]="dog.AgeCategory">
                <ion-select-option *ngFor="let age of ageCategoryOptions" [value]="age.value">
                  {{ age.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </p>
          <p>
            <strong>- Personalidad: </strong>
            <span *ngIf="!isEditable">{{ getPersonalityText(dog.Personaliity) }}</span>
            <ion-item *ngIf="isEditable">
              <ion-select [(ngModel)]="dog.Personaliity">
                <ion-select-option *ngFor="let personality of personalityOptions" [value]="personality.value">
                  {{ personality.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </p>
          <p>
            <strong>- Tamaño: </strong>
            <span *ngIf="!isEditable">{{ getSizeText(dog.Size) }}</span>
            <ion-item *ngIf="isEditable">
              <ion-select [(ngModel)]="dog.Size">
                <ion-select-option *ngFor="let size of sizeOptions" [value]="size.value">
                  {{ size.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </p>   
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="section">
        <h3>Presentación</h3>
        <div class="card">
          <p *ngIf="!isEditable">{{dog.Presentation}}</p>
          <textarea *ngIf="isEditable" [(ngModel)]="dog.Presentation" class="editable-input"></textarea>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner class="large-spinner"></ion-spinner>
      <p class="loading-text">Cargando...</p>
    </div>
  </ng-template>
</ion-content>
