<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ dog?.nombre || 'Perfil del Perro' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleEditable()">
        {{ isEditable ? 'Guardar' : 'Editar' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="dog; else loading">
    <ion-row>
      <ion-col size="12" class="image-container">
        <img [src]="'../../../../assets/images/' + dog.foto + '.svg'" class="image" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="section">
        <h3>Características</h3>
        <div class="card">
          <p>
            <strong>- Género: </strong>
            <span *ngIf="!isEditable">{{dog.genero}}</span>
            <input *ngIf="isEditable" [(ngModel)]="dog.genero" class="editable-input"/>
          </p>
          <p>
            <strong>- Castrado: </strong>
            <span *ngIf="!isEditable">{{dog.castrado}}</span>
            <input *ngIf="isEditable" [(ngModel)]="dog.castrado" class="editable-input"/>
          </p>
          <p>
            <strong>- Dominante: </strong>
            <span *ngIf="!isEditable">{{dog.dominante}}</span>
            <input *ngIf="isEditable" [(ngModel)]="dog.dominante" class="editable-input"/>
          </p>
          <p>
            <strong>- Raza: </strong>
            <span *ngIf="!isEditable">{{dog.raza}}</span>
            <input *ngIf="isEditable" [(ngModel)]="dog.raza" class="editable-input"/>
          </p>
          <p>
            <strong>- Edad: </strong>
            <span *ngIf="!isEditable">{{dog.rangoEdad}}</span>
            <input *ngIf="isEditable" [(ngModel)]="dog.rangoEdad" class="editable-input"/>
          </p>
          <p>
            <strong>- Personalidad: </strong>
            <span *ngIf="!isEditable">{{dog.personalidad}}</span>
            <input *ngIf="isEditable" [(ngModel)]="dog.personalidad" class="editable-input" />
          </p>
          <p>
            <strong>- Tamaño: </strong>
            <span *ngIf="!isEditable">{{dog.tamano}}</span>
            <input *ngIf="isEditable" [(ngModel)]="dog.tamano"  class="editable-input"/>
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="section">
        <h3>Presentación</h3>
        <div class="card">
          <p *ngIf="!isEditable">{{dog.presentacion}}</p>
          <textarea *ngIf="isEditable" [(ngModel)]="dog.presentacion" class="editable-input"></textarea>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner class="large-spinner"></ion-spinner>
      <p class="loading-text">Cargando...</p>
    </div>
  </ng-template>
</ion-content>