<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ dog?.nombre || 'Perfil del Perro' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="dog; else loading">
    <ion-row>
      <ion-col size="12" class="image-container">
        <img [src]="'../../../../assets/images/' + dog.foto + '.svg'" class="image" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="section">
        <h3>Características</h3>
        <div class="card">
          <p><strong>- Género:</strong> {{dog.genero}}</p>
          <p><strong>- Castrado:</strong> {{dog.castrado}}</p>
          <p><strong>- Dominante:</strong> {{dog.dominante}}</p>
          <p><strong>- Raza:</strong> {{dog.raza}}</p>
          <p><strong>- Edad:</strong> {{dog.rangoEdad}}</p>
          <p><strong>- Personalidad:</strong> {{dog.personalidad}}</p>
          <p><strong>- Tamaño:</strong> {{dog.tamano}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="section">
        <h3>Presentación</h3>
        <div class="card">
          <p>Saludos a todos!!</p>
          <p>Este es mi perrito Buddy, es un perrito muy cariñoso y juguetón. Busca nuevos amigos con los que jugar y divertirse.</p>
          <p>Tenemos muchos juguetes que podemos compartir en caso de que nos hagamos amigos.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner class="large-spinner"></ion-spinner>
      <p class="loading-text">Cargando...</p>
    </div>
  </ng-template>
</ion-content>
