<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Chat </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="superior-title">Chats nuevos</ion-title>
  <div class="horizontal-slider">
    <div class="slider-item" *ngFor="let dog of dogs">
      <app-slider
        [name]="dog.nombre"
        [photoUrl]="dog.foto"
        (dogClick)="onDogClick(dog)"
      >
      </app-slider>
    </div>
  </div>
  <ion-title class="inferior-title">Chats empezados</ion-title>
</ion-content>
