<!-- src/app/pages/chats/chats.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar class="vertical-center">
    <ion-title> Chats </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="superior-title">Chats nuevos</ion-title>
  <div class="horizontal-slider">
    <div class="slider-item" *ngFor="let dog of dogs">
      <app-slider
        [name]="dog.nombre"
        [photoUrl]="dog.foto"
        (dogClick)="onDogClick(dog)"
      >
      </app-slider>
    </div>
  </div>

  <ion-title class="inferior-title">Chats empezados</ion-title>
  <ion-list>
    <ion-item *ngFor="let dog of dogs" (click)="openChat(dog)">
      <ion-avatar slot="start">
        <img [src]="'../../../../assets/images/' + dog.foto + '.svg'" />
      </ion-avatar>
      <ion-label>
        <h2>{{ dog.nombre }}</h2>
        <p>{{ getLastMessageText(dog.id) || 'No hay mensajes aún' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
