.horizontal-slider {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: none;
}
.horizontal::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en WebKit/Blink (como Chrome y Safari) */
}

app-slider {
  flex: 0 0 auto;
  margin-right: 10px;
}

.superior-title {
  color: #ffffff;
  padding-top: 20px;
  font-size: 20px;
}

.inferior-title {
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 20px;
}

ion-title {
  text-align: center;
}

.vertical-center {
  display: flex;
  align-items: center;
  height: 100%;
}
