<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-img src="../../../../assets/icon/dog.svg"></ion-img>
      <ion-label>Amidogs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meetings" href="/tabs/meetings">
      <ion-img src="../../../../assets/icon/map.svg"></ion-img>
      <ion-label>Meetings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats" href="/tabs/chats">
      <ion-img src="../../../../assets/icon/chats.svg"></ion-img>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToDogProfile()">
      <ion-img src="../../../../assets/icon/profile.svg"></ion-img>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="information" href="/tabs/information">
      <ion-img src="../../../../assets/icon/dogipedia.svg"></ion-img>
      <ion-label>Dogipedia</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>




